.wrapper {
    width: 360px;
    height: 540px;
    padding: 10px;
    border-radius: 10px;
    background-color: #485461;
    background-image: linear-gradient(315deg, #37474F  0%, #37474F  74%);
  }